/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-theme-color: #{$blue-gray-color};
  --global-hover-color: #{$blue-gray-color};
  --global-hover-text-color: #{$white-color};
}

html[data-theme="dark"] {
  --global-theme-color: #{$cyan-color};
  --global-hover-color: #{$cyan-color};
  --global-hover-text-color: #{$white-color};
}
